.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8vh;
    margin-right: 8vh;
}

.mat-card-list {
    display: flex;
    flex-wrap: wrap; /* Wrap cards onto multiple lines */
    justify-content: center;
}

.mat-card {
    /* width: 300px;  Set a fixed width for the card */
    margin-bottom: 20px;
    margin: 3vh;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
}
  
.mat-card-header {
    /* padding: 16px; */
    background-color: #f4f4f4;
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
}
  
.img-hero {
    max-width: 40vh;
    height: 30vh;
    flex-basis: auto;
}
  
.mat-card-content {
    padding: 16px;
}
  
.mat-card-actions {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}
  