<div class="search-container">
  <mat-form-field>
    <input matInput type="text" placeholder="Filter by name" [(ngModel)]="searchHeroName" (ngModelChange)="onFilterChange($event)">
  </mat-form-field>
</div>

@if (selectedHero) {
  <hero-form [hero]="selectedHero" />
}

<div class="mat-card-list">
  @for (hero of heroes; track hero.id) {
    <mat-card class="mat-card">
      <mat-card-header class="mat-card-header">
        <img src="{{hero.image}}" alt="{{hero.name}}" class="img-hero">
      </mat-card-header>
      <mat-card-content class="mat-card-content">
        <h2>{{hero.name}}</h2>
        <p>{{hero.powers}}</p>
      </mat-card-content>
      <mat-card-actions class="mat-card-actions">
        <button mat-button (click)="onEdit(hero)">Edit</button>
        <button mat-button (click)="onRemove(hero)">Remove</button>
      </mat-card-actions>
    </mat-card>
  }
</div>

